/* Burger.css */
@keyframes float {

    30%,
    70% {
      transform: translateY(-100px);
      transform: translateX(-9px);
    }
  
    50% {}
  }
  
  @keyframes shake {
  
    0%,
    100% {
      transform: translateX(0);
    }
  
    25% {
      transform: translateX(-5px);
    }
  
    50% {
      transform: translateX(5px);
    }
  
    75% {
      transform: translateX(-5px);
    }
  }
  
  
  
  .burger {
    width: 200px;
    margin: 20px auto;
    text-align: center;
    position: relative;
  }
  
  .bun-top {
    width: 100%;
    height: 50px;
    background: linear-gradient(#f08e4a, #e27b36);
    border-radius: 70% 70% 0 0;
    box-shadow: inset -15px 0 #c15711;
    position: relative; /* 疑似要素の配置のために必要 */
  }
  
  .sesame::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
  }
  
  .sesame:nth-child(1)::before {
    left: 30px;
    top: 30px;
  }
  
  .sesame:nth-child(2)::before {
    left: 70px;
    top: 20px;
  }
  
  .sesame:nth-child(3)::before {
    left: 110px;
    top: 10px;
  }
  .sesame:nth-child(4)::before {
    left: 150px;
    top: 29px;
  }
  
  .sesame:nth-child(5)::before {
    left: 160px;
    top: 10px;
  }
  
  
  
  .tomato {
    width: 100%;
    height: 20px;
    background: red;
    border-radius: 20px;
  
  }
  /*
  .burger div {
    animation: shake 0.1s infinite;
  
  }
  */
  
  .lettuce {
    width: 100%;
    height: 20px;
    background: #228c1d;
    margin: 0 auto;
    border-radius: 20px;
  }
  
  .cheese {
    width: 90%;
    height: 20px;
    background: #f4d004;
    margin: 0 auto;
    position: relative;
  }
  
  .patty {
    width: 100%;
    height: 30px;
    background: #7f3608;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: inset -5px 0 #4e2503;
  }
  
  .bun-bottom {
    width: 100%;
    height: 30px;
    background: linear-gradient(#f08e4a, #e27b36);
    border-radius: 0 0 20% 20%;
    box-shadow: inset -15px 0 #c15711;
    margin-top: 1px;
  }