* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-button {
  color: #000; /* アイコンのカラーを黒に設定 */
}

.burger-button {
  color: #000; /* アイコンのカラーを黒に設定 */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #1a237e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  width: 100%;
  height: 60px;
}

.app-content {
  margin-top: 60px;
  flex: 1;
  overflow-y: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 120px); /* Adjusted for header and footer */
  background-color: #F9ECCB;
  color: #000;
  text-align: center;
}

.schedule-header {
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 10px;
}

.schedule-content {
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow-y: scroll;
  max-height: calc(70vh - 50px); /* Adjusted for header and footer */
}

.schedule-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.schedule-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
}

.schedule-item.completed {
  background-color: #d3d3d3;
  text-decoration: line-through;
}

.schedule-item.current {
  background-color: #add8e6;
}

.schedule-item.past {
  background-color: #d3d3d3; 
  color: #999;
}

.schedule-time {
  font-weight: bold;
}

.schedule-title-item {
  margin-top: 5px;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 20px;
}

.nav-button {
  background-color: #add8e6;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.title {
  font-size: 24px;
  color: #1a237e; /* タイトルのテキストカラーを変更 */
  font-weight: bold; /* 文字を太く */
  margin: 0;
  /*font-family: 'Comic Sans MS', cursive, sans-serif; */
}

.nav-button:hover {
  background-color: #87ceeb;
}

.bg-red-500 {
  background-color: #f87171;
}

.menu-button {
  margin-left: 3%; /* 左端からの間隔を調整 */
  color: #000;
}

.logout-button {
  margin-right: 3%; /* 右端からの間隔を調整 */
  color: #000;
}

.bottom-navigation {
  background-color: #fff; /* 背景色を白に設定 */
}

.nav-action .MuiBottomNavigationAction-label {
  color: #9e9e9e; /* デフォルトのラベルの色を灰色に設定 */
}

.nav-action .MuiSvgIcon-root {
  color: #9e9e9e; /* デフォルトのアイコンの色を灰色に設定 */
}

.nav-action.selected .MuiBottomNavigationAction-label {
  color: #1a237e; /* 選択されているラベルの色を変更 */
}

.nav-action.selected .MuiSvgIcon-root {
  color: #1a237e; /* 選択されているアイコンの色を変更 */
  transform: scale(1.2); /* 選択されたアイコンのサイズを大きく */
}

.date-picker-popper {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  position: fixed !important;
  top: 50% ;
  left: -10% !important;
  z-index: 1000;
  border-radius: 0; /* 角を丸くしない */
}

.react-datepicker__triangle {
  display: none; /* 上部の矢印を非表示にする */
}

